<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDisableClear matSortDirection="asc">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element"><a routerLink="/wallets/{{element.id}}"> {{element.name}} </a></td>
  </ng-container>

  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate | date: 'longDate' : 'UTC'}} </td>
  </ng-container>

  <ng-container matColumnDef="goal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Goal</th>
    <td mat-cell *matCellDef="let element" class="numeric"> {{element.goal | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="saved">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saved</th>
    <td mat-cell *matCellDef="let element" class="numeric"> {{element.saved | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
    <td mat-cell *matCellDef="let element" class="numeric"> {{element.priority}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[25, 100]"></mat-paginator>
