<div *ngIf="wallet">
    <button mat-icon-button (click)="edit()"><mat-icon>mode_edit</mat-icon></button>
  <p></p>

  <h2>{{wallet.name}}</h2>
  <div *ngIf="wallet.description"><i><b>Description:</b> {{wallet.description}}</i></div>
  <p></p>
  <mat-form-field>
    <input matInput appCurrency placeholder="Goal" class="number" value="{{wallet.goal | currency}}" ng-readonly="true">
  </mat-form-field>
  <mat-form-field>
    <input matInput appCurrency placeholder="Status" value="{{wallet.status}}" ng-readonly="true">
  </mat-form-field>
  <mat-form-field>
    <input matInput appCurrency placeholder="Due Date" value="{{wallet.dueDate | date: 'longDate'}}" ng-readonly="true">
  </mat-form-field>
  <mat-form-field>
    <input matInput appCurrency placeholder="Priority" class="number" value="{{wallet.priority}}" ng-readonly="true">
  </mat-form-field>
  <br>
  <!-- <mat-checkbox checked="{{wallet.isPostponable}}">Postponable</mat-checkbox> -->
  <mat-checkbox [(ngModel)]="wallet.isPostponable"  disableRipple="true" onclick="return false;">Postponable</mat-checkbox>
  <p></p>
  <button mat-icon-button (click)="addMovement()"><mat-icon>add_circle</mat-icon></button>
  <p></p>
  <app-wallet-movement></app-wallet-movement>
</div>
