<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="date" matSortDisableClear matSortDirection="asc">

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date | date: 'longDate' : 'UTC'}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element"> {{element.description }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef>Income</th>
    <td mat-cell *matCellDef="let element" class="numeric"> {{element.income | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="expense">
    <th mat-header-cell *matHeaderCellDef>Expense</th>
    <td mat-cell *matCellDef="let element" class="numeric"> {{element.expense | currency}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
